<!DOCTYPE html>
<html lang="en">
<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VW5QLMV046"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-VW5QLMV046');
</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy - EkTools</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<header>
    <div class="logo">
        <h2>🚀 EkTools</h2>
    </div>

    <nav>
        <a href="/">Home</a>
        <a href="/unlock-pdf">Unlock PDF</a>
        <a href="/merge-pdf">Merge PDF</a>
        <a href="/split-pdf">Split PDF</a>
        <a href="/compress-pdf">Compress PDF</a>
        <a href="/about">About</a>
    </nav>
</header>

<section class="tools">

    <div class="card">

        <h1>Privacy Policy</h1>

        <br>

        <p>
            Welcome to <strong>EkTools</strong>. Your privacy is important to us.
        </p>

        <br>

        <h3>1. Uploaded Files</h3>

        <p>
            Files uploaded to EkTools are processed automatically.
            We do not permanently store, sell, or share your files.
        </p>

        <br>

        <h3>2. File Security</h3>

        <p>
            Your uploaded PDF files are used only to perform the requested task
            (Unlock, Merge, Split, Compress, etc.).
        </p>

        <br>

        <h3>3. Cookies</h3>

        <p>
            EkTools may use cookies to improve website performance and user experience.
        </p>

        <br>

        <h3>4. Third-Party Services</h3>

        <p>
            We may use services such as Google Analytics and Google AdSense in the future.
        </p>

        <br>

        <h3>5. Contact</h3>

        <p>
            If you have any questions about this Privacy Policy,
            please contact the EkTools team.
        </p>

        <br><br>

        <a href="/" class="btn back-btn">
            🏠 Back